<title>{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }} - {{ site.title}}{% else %}{{ site.title }}{% endif %}</title>
<!--네이버 인증-->
<meta name="naver-site-verification" content="8bc3e44596166878570b878b14d4f21a7401838f" />
<!--구글 인증-->
<meta name="google-site-verification" content="GXDGsRsWkye8qICVw-upEEA77CRXADCNFFneTwTMzx0" />
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:title" content="{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }} - {{ site.title}}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="https://www.rgarobot.com/assets/images/gen/content/dog_drawing.png">
<meta property="og:url" content="https://www.rgarobot.com/assets/images/gen/content/dog_drawing.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }} - {{ site.title}}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description"  content="{{ description }}">
<meta name="twitter:image" content="https://www.rgarobot.com/assets/images/gen/content/dog_drawing.png">

{% if page.meta_description %}
  <meta name="description" content="{{ page.meta_description }}"/>
{% elsif page.description %}
  <meta name="description" content="{{ page.description }}"/>
{% endif %}

{% if page.meta_og_title %}
  <meta property="og:title" content="{{ page.meta_og_title }}"/>
{% endif %}
{% if page.meta_og_type %}
  <meta property="og:type" content="{{ page.meta_og_type }}"/>
{% endif %}
{% if page.meta_og_url %}
  <meta property="og:url" content="{{ page.meta_og_url }}"/>
{% endif %}
{% if page.meta_og_image %}
  <meta property="og:image" content="{{ page.meta_og_image }}"/>
{% endif %}
{% if page.meta_og_description %}
  <meta property="og:description" content="{{ page.meta_og_description }}"/>
{% endif %}
{% if page.meta_twitter_card %}
  <meta name="twitter:card" content="{{ page.meta_twitter_card }}"/>
{% endif %}
{% if page.meta_twitter_site %}
  <meta name="twitter:site" content="{{ page.meta_twitter_site }}"/>
{% endif %}
{% if page.meta_twitter_creator %}
  <meta name="twitter:creator" content="{{ page.meta_twitter_creator }}"/>
{% endif %}
