<div class="menu-main-mobile {% if site.menu.show_dropdown_items_in_mobile_menu %}nested{% endif %}" id="menu-main-mobile">
  
  <div class="menu-main-mobile-top">
    <div id="close-overlay" class="menu-main-close">
      <div class="hamburger"></div>
    </div>
  </div>

  <div class="menu-main-mobile-center">
    <ul class="menu">
      {% assign current_lang = page.lang | default: site.default_lang %}
      {% for item in site.data.menu.main %}
        {% if item.child %}
          {% assign child_items = item.child | where: "lang", current_lang %}
          {% if child_items.size > 0 %}
            <li class="menu-item-{{ item.name | downcase }}{% if item.url == page.url %} active{% endif %}">
              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
              <div class="dropdown">
                <ul class="sub-menu">
                  {% for childitem in child_items %}
                    <li class="{% if childitem.url == page.url %} active {% endif %}">
                      <a href="{{ childitem.url | relative_url }}">{{ childitem.name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
          {% endif %}
        {% else %}
          {% if item.url == page.url and item.lang == current_lang %}
            {% assign active = true %}
          {% else %}
            {% assign active = nil %}
          {% endif %}
          <li class="{% if active %}active{% endif %}">
            <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="menu-main-mobile-bottom">
    {% if site.menu.show_social_media_in_mobile_menu %}
      {% include framework/blocks/components/social.html limit=3 %}
    {% endif %}
    {% if site.darkmode.enable_dark_mode and site.darkmode.show_dark_mode_toggle_in_mobile_menu %}
      {% include framework/blocks/components/dark-mode-switcher.html %}
    {% endif %}
  </div>

</div>
